<?xml version="1.0"?>
<robot name="echo_bot" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find echo_bot_description)/urdf/common.xacro"/>
  <xacro:include filename="$(find echo_bot_description)/urdf/torso/echo_bot_torso.urdf.xacro"/>
  <xacro:include filename="$(find echo_bot_description)/urdf/leg/echo_bot_leg.urdf.xacro"/>
  <xacro:include filename="$(find echo_bot_description)/urdf/wheel/echo_bot_wheel.urdf.xacro"/>

  <!-- == echo_bot base == -->
  <link name="base_link"/>

  <xacro:torso_v0/>

  <joint name="base_link_to_torso_link" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="torso_link"/>
  </joint>

  <!-- <link name="world"/>
  <xacro:torso_v0 parent="world">
  <origin xyz="0 0 0.20"/>
  </xacro:torso_v0> -->

  <!-- <link name="base_footprint"/>
  <joint name="base_link_to_base_footprint_joint" type="fixed">
    <origin xyz="0 0 0.090"/>
    <parent link="base_link"/>
    <child link="base_footprint"/>
  </joint> -->

  <!-- == left_leg == -->
  <xacro:leg_v0 parent="torso_link" prefix="l">
    <origin xyz="0.0 0.0475 0.0" rpy="0.0 2.27 0.0"/>
  </xacro:leg_v0>

  <!-- == right_leg == -->
  <xacro:leg_v0 parent="torso_link" prefix="r">
    <origin xyz="0.0 -0.0475 0.0" rpy="0.0 2.27 0.0"/>
  </xacro:leg_v0>

  <!-- == left_wheel == -->
  <xacro:wheel_v0 prefix="l" parent="lower_lleg_link">
    <origin xyz="0.1 0.0305 0.0" rpy="${-M_PI/2} 0.0 0.0"/>
    <axis xyz="0 0 1"/>
  </xacro:wheel_v0>

  <!-- == right_wheel == -->
  <xacro:wheel_v0 prefix="r" parent="lower_rleg_link">
    <origin xyz="0.1 -0.0305 0.0" rpy="${-M_PI/2} 0.0 0.0"/>
    <axis xyz="0 0 1"/>
  </xacro:wheel_v0>

  <!-- == Sensor == -->

  <!-- == Gazebo == -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>echo_bot</robotNamespace>
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
      <legacyModeNS>true</legacyModeNS>
    </plugin>
  </gazebo>

  <plugin name="joint_state_publisher" filename="libgazebo_ros_joint_state_publisher.so">
    <robotNamespace>echo_bot</robotNamespace>
    <jointName>torso_to_upper_lleg, torso_to_upper_rleg, upper_lleg_to_lower_lleg, upper_rleg_to_lower_rleg, lower_lleg_to_upper_side_lleg, lower_rleg_to_upper_side_rleg, lower_lleg_to_wheel_l, lower_rleg_to_wheel_r</jointName>
  </plugin>

  <!-- Base -->
  <xacro:torso_gazebo_v0/>

  <!-- leg -->
  <xacro:leg_gazebo_v0 prefix="l"/>
  <xacro:leg_gazebo_v0 prefix="r"/>

  <!-- Wheel -->
  <xacro:wheel_gazebo_v0 prefix="l"/>
  <xacro:wheel_gazebo_v0 prefix="r"/>
  
</robot>
