<?xml version="1.0"?>
<robot name="echo_bot" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find echo_bot_description)/urdf/common.xacro"/>
  <xacro:include filename="$(find echo_bot_description)/urdf/torso/echo_bot_torso.urdf.xacro"/>
  <xacro:include filename="$(find echo_bot_description)/urdf/leg/echo_bot_leg.urdf.xacro"/>
  <xacro:include filename="$(find echo_bot_description)/urdf/wheel/echo_bot_wheel.urdf.xacro"/>
  <xacro:include filename="$(find echo_bot_description)/urdf/sensors/lidar/lidar.urdf.xacro"/>
  <xacro:include filename="$(find echo_bot_description)/urdf/sensors/imu/imu.urdf.xacro"/>

  <!-- == echo_bot base == -->
  <link name="base_link"/>

  <xacro:torso_v0/>

  <joint name="base_link_to_torso_link" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="torso_link"/>
  </joint>

  <!-- <link name="base_footprint"/>
  <joint name="base_link_to_base_footprint_joint" type="fixed">
    <origin xyz="0 0 0.090"/>
    <parent link="base_link"/>
    <child link="base_footprint"/>
  </joint> -->

  <!-- == left_leg == -->
  <xacro:leg_v0 parent="torso_link" prefix="l">
    <origin xyz="0.0 0.0475 0.0" rpy="0.0 2.27 0.0"/>
  </xacro:leg_v0>

  <!-- == right_leg == -->
  <xacro:leg_v0 parent="torso_link" prefix="r">
    <origin xyz="0.0 -0.0475 0.0" rpy="0.0 2.27 0.0"/>
  </xacro:leg_v0>

  <!-- == left_wheel == -->
  <xacro:wheel_v0 prefix="l" parent="lower_lleg_link">
    <origin xyz="0.1 0.0305 0.0" rpy="${-M_PI/2} 0.0 0.0"/>
    <axis xyz="0 0 1"/>
  </xacro:wheel_v0>

  <!-- == right_wheel == -->
  <xacro:wheel_v0 prefix="r" parent="lower_rleg_link">
    <origin xyz="0.1 -0.0305 0.0" rpy="${-M_PI/2} 0.0 0.0"/>
    <axis xyz="0 0 1"/>
  </xacro:wheel_v0>

  <!-- == Sensors == -->
  <xacro:lidar_v0 parent="torso_link">
    <origin xyz="0 0 0.11" rpy="0 0 0"/>
  </xacro:lidar_v0>
  <xacro:imu_v0 parent="torso_link">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:imu_v0>
  
</robot>
